/* JuegosComponent's private CSS styles */
h2{
text-align: center;
}

table{
  text-align: center;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding :0px 8px 8px 0 !important;
}
.column1{
  width: 40%;

}
.column2{
  width: 50%;
}
button{
  width: 30%;

}
.button2{
  width: 20%;

}
table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}
.heroes{
  margin-left: 30%;
  margin-bottom: 2%;
}


