
<h2>Historial de Juegos Olímpicos</h2>
<a [routerLink]="['/anadir']"> <button class="heroes" >Añadir nueva sede</button></a>
 
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id_ciudad" class="column">
    <th mat-header-cell *matHeaderCellDef>  ID de la ciudad  </th>
    <td mat-cell *matCellDef="let juego"> {{juego.id_ciudad}} </td>
  </ng-container>
  <ng-container matColumnDef="nombre_ciudad" class="column">
    <th mat-header-cell *matHeaderCellDef> Nombre de la ciudad  </th>
    <td mat-cell *matCellDef="let juego"> {{juego.nombre_ciudad}} </td>
  </ng-container> 
  <ng-container matColumnDef="id_pais" class="column">
    <th mat-header-cell *matHeaderCellDef>ID del pais  </th>
    <td mat-cell *matCellDef="let juego"> {{juego.id_pais}} </td>
  </ng-container> 
  <ng-container matColumnDef="nombre_pais" class="column">
    <th mat-header-cell *matHeaderCellDef> Nombre del pais </th>
    <td mat-cell *matCellDef="let juego"> {{juego.nombre_pais}} </td>
  </ng-container> 
  <ng-container matColumnDef="numero_veces_sede" class="column">
    <th mat-header-cell *matHeaderCellDef> Numero de veces sede</th>
    <td mat-cell *matCellDef="let juego"> {{juego.numero_veces_sede}} </td>
  </ng-container> 
  <ng-container matColumnDef="descripcion_tipo_jjoo" class="column">
    <th mat-header-cell *matHeaderCellDef> Tipo de sede </th>
    <td mat-cell *matCellDef="let juego"> {{juego.descripcion_tipo_jjoo}} </td>
  </ng-container> 
  <ng-container matColumnDef="valor" class="column">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let juego"> {{juego.valor}} </td>
  </ng-container> 
  <ng-container matColumnDef="eliminar" class="column1">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let juego"> <button (click)="eliminar(juego)"   ><img src="assets/images/iconoeliminar.png" class="column1"  ></button ></td>
  </ng-container> 
  <ng-container matColumnDef="editar" >
    <th  mat-header-cell *matHeaderCellDef >  </th>
    <td mat-cell *matCellDef="let juego"><a [routerLink]="['/detail', juego.id_ciudad, juego.descripcion_tipo_jjoo,juego.nombre_ciudad]"> <button class="button2"><img src="assets/images/iconoeditar.png" class="column2" ></button></a></td>
  </ng-container> 

 
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
 

  
</table>
<mat-paginator  [pageSizeOptions]="[6,12]" ></mat-paginator>

</div>

