
  
      <div class="div2">
      <h2 > Añadir  sede</h2>
      <form novalidate [formGroup]="nuevoJuego" (ngSubmit)="onSubmit()" >
          <label>
              <span>Ciudad</span>
              <input
                type="text"
                placeholder=""
                formControlName="ciudad">
            </label>
          <label>
              <span>Tipo de juegos</span>
              <select formControlName="tipoSede" >
                <option value="VERANO">VERANO</option>
                <option value="INVIERNO">INVIERNO</option>
             
             </select>
            </label>
          <label>
            <span>Año</span>
            <input
              type="number"
              placeholder=""
              formControlName="ano"  min="1896" max="2050">
          </label>
         
            
            
          <button type="submit">ENVIAR</button>
        </form>
        <button class="heroes" (click)="goBack()">VOLVER</button>
        
        
        
    </div>
    