

<div *ngIf="sede && !ocultar">


    
  <h2 >Editar sede:</h2>
    <form novalidate [formGroup]="nuevoJuego" (ngSubmit)="onSubmit()">
      <label>
        <span>Ciudad de la sede:</span>
        <span>{{ciudad}}</span>
      </label>
      <label>
        <span>Tipo de sede:</span>
        <span>{{sede.descripcion_tipo_jjoo}}</span>
      </label>
      <label>
        <span>Año:</span>
        <span>{{sede.ano}}</span>
      </label>
    
        <label>
            <span>Nueva Ciudad:</span>
            <input
              type="text"
              placeholder= {{ciudad}}
              formControlName="ciudad">
          </label>
        <label>
            <span>Nuevo tipo de juegos:</span>
          
            <select formControlName="tipoSede" >
              <option value="VERANO">VERANO</option>
              <option value="INVIERNO">INVIERNO</option>
           
           </select>
              
          </label>
        <label>
          <span>Nuevo año:</span>
          <input
            type="number"
            placeholder={{sede.ano}}
            formControlName="ano"  min="1896" max="2050">
        </label>
       
          
          
        <button type="submit">ENVIAR</button>
      </form>
      
      
      
      
      
  </div>

  <div *ngIf="ocultar">


    
    <h2 > Añadir  sede</h2>
    <form novalidate [formGroup]="nuevoJuego" (ngSubmit)="onSubmit()" >
        <label>
            <span>Ciudad</span>
            <input
              type="text"
              placeholder= {{ciudad}}
              formControlName="ciudad">
          </label>
        <label>
            <span>Tipo de juegos</span>
            <select formControlName="tipoSede" >
              <option value="VERANO">VERANO</option>
              <option value="INVIERNO">INVIERNO</option>
           
           </select>
          </label>
        <label>
          <span>Año</span>
          <input
            type="number"
            placeholder=""
            formControlName="ano"  min="1896" max="2050">
        </label>
       
          
          
        <button type="submit">ENVIAR</button>
      </form>
      
      
      
      
      
  </div>
  

  
